@import  "responsiveness";

.main-container::before, 
.main-container::after{
    content: '';
    position: absolute;
    z-index: -1;
}
.main-container::before {
    background: url(../images/bg-pattern-top.svg) 0 0 no-repeat;
    background-size: contain;
    background-position: top left;
    height: 150%;
    width: 150%;
    top:-250px;
    left:-400px;
    transform: rotate(10deg);
    @include tablet-up{
        width: 100%;
        height: 100%;
        top:-300px;
        left:-200px;
    }
    
    
}

.main-container::after{
    background: url(../images/bg-pattern-bottom.svg) 0 0 no-repeat;
    background-position: bottom right;
    background-size: contain;
    height: 150%;
    width: 150%;
    right:-350px;
    bottom:-200px;
    
    
    @include tablet-up{
        width: 100%;
        height: 100%;
        bottom:-350px;
        right:-200px;
    }
    
    
}